@import '/css/controller.css';
@import '/css/messages.css';
@import '/css/std.css';

table.list {
	margin:15px 0;
	border:1px solid #ccc;
	border-collapse:collapse;
	width:100%;
}

table.list > thead {
	background:#006699;
	font:11px verdana,arial,helvetica,sans-serif;
	line-height:22px;
	border-bottom:1px solid #ccc;
	color:#fff;
}

table.list > tbody > tr {
	background:#fff;
	border:1px dashed #ccc;
}

table.list > tbody > tr:hover {
	background:#ffffcc;
}

table.list > tbody > tr > td {
	font:14px arial,helvetica,sans-serif;
	line-height:30px;
}

table.list > tbody > tr > td.actions {
	width:0;
	white-space:nowrap;	
}

table.list > tbody > tr > td.actions > form {
	display:inline;
	vertical-align:middle;
}

table.list > tfoot {
	background:#d7d7d7;
	font:11px verdana,arial,helvetica,sans-serif;
	line-height:22px;
	border-top:1px solid #ccc;
}

table.list td,
table.list th {
	padding:2px 5px;
}

table.list th {
	text-align:left;
}

table.list img {
	vertical-align:middle;
}

table.list td.action {
	width:16px;
	margin:0 5px;
}

table.list td.actions {
	text-align:right;
}

table.list td.actions form {
	display:inline;
}

.admin .warning {
	color:red;
}

.admin .return {
	color:inherit;
	text-decoration:inherit;
}

.admin .mce-edit-area > iframe {
	min-width:500px;
	min-height:400px;
}