#forge-message {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	padding:5px;
	text-align:center;
	border-bottom:1px solid;
	font:17px arial,helvetica,sans-serif;
	color:#fff;
	cursor:pointer;
	display:none;
	z-index:1000;
}

#forge-message.bad {
	background:#990000;
	border-color:#330000;
}

#forge-message.good {
	background:#006600;
	border-color:#003300;
}