div.admin#dashboard {
	margin-right:-15px;
}

div.admin#dashboard > div.infobox {
	float:left;
	width:225px;
	height:75px;
	overflow:hidden;
	margin-bottom:15px;
	cursor:pointer;
	background:rgba(255, 255, 255, .4);
	padding:5px;
	border-radius:10px;
	margin-right:15px;
}

div.admin#dashboard > div.infobox > img.icon {
	float:left;
	margin-right:10px;
}

div.admin#dashboard > div.infobox > h2 {
	font:13px verdana,arial,helvetica,sans-serif;
	margin:10px 0 0 0;
}

div.admin#dashboard > div.infobox > p {
	font-size:32px;
	margin:0;
}