#admin-content > div.infobox {
	display:inline-block;
	width:225px;
	height:75px;
	overflow:hidden;
	margin-bottom:15px;
	cursor:pointer;
	background:#fff;
	padding:5px;
	border-radius:3px;
	margin-right:15px;
}

#admin-content > div.infobox > img.icon {
	float:left;
	margin-right:10px;
}

#admin-content > div.infobox > h2 {
	font-size:14px;
	font-weight:normal;
	margin:10px 0 0 0;
}

#dashboard > div.infobox > p {
	font-size:32px;
	margin:0;
}