[submodule "vendor/php-markdown"]
	path = vendor/php-markdown
	url = git@github.com:michelf/php-markdown.git
[submodule "vendor/requirejs"]
	path = vendor/requirejs
	url = git@github.com:requirejs/requirejs.git
[submodule "vendor/domReady"]
	path = vendor/domReady
	url = git@github.com:requirejs/domReady.git
