@import '/css/nullify.css';

body {
	background:#d7d7d7;
}

#container {
	background:#fff;
	width:1030px;
	margin:50px auto;
	box-shadow:0 0 25px #666;
	border-radius:.5em;
	padding-bottom:30px;
}

#header > ul {
	height:50px;
	background:#006699;
	border-radius:.5em .5em 0 0;
	padding:0 15px;
}

#header > ul > li {
	float:left;
	font:18px verdana,arial,helvetica,sans-serif;
	line-height:50px;
	color:#fff;
	margin:0 15px 0 0;
	cursor:default;
	list-style-type:none;
}

#header > ul > li > a {
	color:#fff;
	text-decoration:none;
}

#header > ul > li > a:hover {
	text-decoration:underline;
}

#header > ul > li > ul {
	position:absolute;
	background:#006699;
	display:none;
}

#header > ul > li:hover > ul {
	display:block;
}

#header > ul > li > ul > li {
	font:16px verdana,arial,helvetica,sans-serif;
	margin:10px;
}

#header > ul > li > ul > li > a {
	color:#fff;
	text-decoration:none;
}

#header > ul > li > ul > li > a:hover {
	text-decoration:underline;
}

#content {
	margin:15px;
}

#content h1 {
	font:28px arial,helvetica,sans-serif;
	margin-bottom:20px;
}

#content h2 {
	font:22px arial,helvetica,sans-serif;
	margin-bottom:10px;
}

#content p {
	font:14px arial,helvetica,sans-serif;
	margin-bottom:10px;
}

#footer {
	clear:both;
	margin-top:15px;
	padding:0 15px;
	text-align:right;
}

#footer > span {
	font:10px verdana,arial,helvetica,sans-serif;
	color:#333;
}

#footer a {
	color:#000;
	text-decoration:none;
	margin-right:15px;
}

#footer a:hover {
	text-decoration:underline;
}