@import url(http://fonts.googleapis.com/css?family=Oswald:700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);

html, body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background:#ecf0f5;
	font-family:'PT Sans', sans-serif;
}

body > header {
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	height:50px;
	min-width:100%;
	background:#3c8dbc;
}

body > header > h1 {
	display:inline-block;
	font:20px/50px 'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin:0;
	background:#367fa9;
	width:230px;
	height:100%;
	overflow:hidden;
	text-align:center;
}

body > header > h1 > a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
}

body > header > h1 > a > img {
	vertical-align:middle;
}

body > header > a {
	display:inline-block;
	vertical-align:top;
	margin:14px 0 0 14px;
}

body > header > a > img {
	vertical-align:middle;
}

body > header > div.right {
	float:right;
	height:32px;
	padding-right:25px;
	font-size:13px;
	line-height:32px;
}

body > header > div.right > a {
	color:#fff;
	text-decoration:none;
}

body > header > div.right > a:hover {
	text-decoration:underline;
}

body > nav {
	position:absolute;
	top:0;
	left:0;
	width:230px;
	padding-top:50px;
	min-height:100%;
	box-sizing:border-box;
	background:#222d32;
}

body > nav > ul {
	list-style-type:none;
	margin:0;
	padding:0;
	font:12px/18px 'Oswald', sans-serif;
	color:#767676;
}

body > nav > ul > li > span {
	margin-left:8px
}

body > nav > ul > li > ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

body > nav > ul > li > ul > li > a {
	font:13px/26px 'PT Sans', sans-serif;
	color:#e0e0e0;
	text-decoration:none;
	margin:0 0 0 16px;
	padding:0;
}

body > nav > ul > li > ul > li > a:hover {
	color:orange;
}

#admin-content {
	box-sizing:border-box;
	width:100%;
	padding:66px 16px 16px 246px;
	font:13px 'PT Sans', sans-serif;
}

#admin-content > h1 {
	font:24px 'PT Sans', sans-serif;
	margin:0 0 16px 0;
}

#admin-content a {
	color:#069;
	text-decoration:none;
}

#admin-content a:hover {
	text-decoration:underline;
}

#admin-content div.panel {
	box-sizing:border-box;
	width:100%;
	background:#fff;
	border-top:3px solid #069;
	border-radius:3px;
	margin:16px 0;
	padding:8px;
}

#admin-content div.panel.green {
	border-top-color:#006600;
}

#admin-content div.panel.orange {
	border-top-color:#DD7700;
}

#admin-content div.panel.red {
	border-top-color:#990000;
}

#admin-content div.panel.yellow {
	border-top-color:#f7f433;
}

#admin-content div.panel > h1 {
	font:18px/18px 'PT Sans', sans-serif;
	color:#353535;
	margin:0 -8px 8px -8px;
	padding:0 8px 8px 8px;
	border-bottom:1px #efefef solid;
}

#admin-content > div.col-2 {
	column-count:2;
	margin:16px 0;
}

#admin-content > div.col-3 {
	column-count:3;
	margin:16px 0;
}

#admin-content > div.col-4 {
	column-count:4;
	margin:16px 0;
}

#admin-content > div.col-2 > div.panel,
#admin-content > div.col-3 > div.panel,
#admin-content > div.col-4 > div.panel {
	display:block;
	margin:0 0 16px 0;
	break-inside:avoid;
	page-break-inside:avoid;
	-webkit-column-break-inside: avoid;
}

.identity.login {
	background:#fff;
	margin:48px;
	padding:16px;
	font-family:'PT Sans', sans-serif;
	border-radius:5px;
}

.identity.login > h1 {
	margin:0;
}