#admin-content button {
	color:#444;
	background-color:#f4f4f4;
	border:1px solid #ddd;
	border-radius:3px;
	padding:6px 12px;
	cursor:pointer;
}

#admin-content button:hover {
	background:#e7e7e7;
}

#admin-content button[disabled] {
	background-image: linear-gradient(45deg,
		rgba(0,0,0,.25) 0%,
		rgba(0,0,0,.25) 25%,
		rgba(100,100,100,.15) 25%,
		rgba(100,100,100,.15) 50%,
		rgba(0,0,0,.25) 50%,
		rgba(0,0,0,.25) 75%,
		rgba(100,100,100,.15) 75%,
		rgba(100,100,100,.15)
	);
	background-size:10px 10px;
	color:#ccc !important;
}

#admin-content button[disabled]:hover {
	cursor:not-allowed;
}

#admin-content button.blue {
	color:#fff;
	background-color:#3c8dbc;
	border-color:#367fa9;
}

#admin-content button.blue:hover {
	background-color:#367fa9;
	border-color:#204d74;
}

#admin-content button.red {
	color: #fff;
	background-color:#d73925;
	border-color:#ac2925;
}

#admin-content button.red:hover {
	background-color: #ac2925;
	border-color: #761c19;
}